apiVersion: apps/v1
kind: Deployment
metadata:
  name: wisecow-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wisecow
  template:
    metadata:
      labels:
        app: wisecow
    spec:
      containers:
      - name: wisecow-container
        image: wisecow-app:latest  # This image should be pushed to a container registry
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
